.Header {
  -webkit-transform:scale(2,2); /* Safari and Chrome */
    -moz-transform:scale(2,2); /* Firefox */
    -ms-transform:scale(2,2); /* IE 9 */
    -o-transform:scale(2,2); /* Opera */
    transform:scale(2,2); /* W3C */
    text-shadow: 8px 1px 4px midnightblue;
}

.Summary {
  margin: auto;
  padding: 20px;
  background-color: lavender;
  font-family: 'Courgette';
  width: 75%;
  border: 2px solid fuchsia;
  border-radius: 15px;
  box-shadow: 4px 4px 8px midnightblue;
  font-size: 20px;
}

.Picture1 {
  height: 400px;
  width: 400px;
  float: right;
  background-image: url("../../assets/img/profilePic.jpg");
  background-size: 500px 500px;
  background-position-x: -100px;
  background-repeat: no-repeat;
  border: 4px solid darkorchid;
  border-radius: 50px;
  box-shadow: 4px 0px 7px darkmagenta;
  margin: 15px;
}

.Picture2 {
  height: 370px;
  width: 400px;
  float: left;
  background-image: url("../../assets/img/profilePic.jpg");
  background-size: 500px 500px;
  background-position-x: -100px;
  background-repeat: no-repeat;
  border: 4px solid darkorchid;
  border-radius: 50px;
  box-shadow: 4px 0px 7px darkmagenta;
  margin: 15px;
}

.Title {
  font-size: 50px;
  text-shadow: 3px 3px 3px darkgray;
}