.Header {
  -webkit-transform:scale(2,2); /* Safari and Chrome */
    -moz-transform:scale(2,2); /* Firefox */
    -ms-transform:scale(2,2); /* IE 9 */
    -o-transform:scale(2,2); /* Opera */
    transform:scale(2,2); /* W3C */
    text-shadow: 8px 1px 4px midnightblue;
}

.layout {
  width:100%;
}