.App {
  text-align: center;
  background-image: url(/src/assets/img/homepage.jpeg);
  background-color: #303030;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

